* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
body{
    background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* HEADER */

header {
    border-bottom: 0.1vw rgb(182, 182, 182) solid;
    display: flex;
    margin: 0.2vw 2vw;
    justify-content: space-between;
}

header img {
    height: 6vw;
    /* border: dashed darkblue 2px; */
}

header ul {
    /* border: dashed darkblue 2px; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 1.3vw;

}

header ul li:hover {
    cursor: pointer;
}

/* MAIN */

main {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.hero {
    display: flex;
}

.hero article {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    padding: 1rem;
}

.hero article h1 {
    color: rgb(43, 43, 43);
}

.hero article h4 {
    color: rgb(84, 83, 83);
}

.hero article .botones button {
    width: 35%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
}

.hero article .botones button:hover {
    cursor: pointer;
}

.hero article .botones .btn-2 {
    background-color: transparent;
    color: rgb(43, 43, 43);
    border: 2px solid rgb(43, 43, 43);
}


.hero img {
    width: 35%;
}

.about {
    text-align: center;
    color: rgb(43, 43, 43);
    flex-direction: column;
    gap: 2rem;

}